body {
  font-family: "Roboto", sans-serif;
  font-family: "Noto Sans TC", sans-serif;
  line-height: 1.5;
}

.container {
  max-width: 1296px;
  margin: 0 auto;

  @include pc-1296 {
    padding-left: 12px;
    padding-right: 12px;
  }
}

a:hover {
  opacity: 0.8;
}


