<footer class="footer bg-primary color-white pt-48 pb-32 pb-lg-40 py-md-24">
    <div class="container px-lg-36 px-md-12">
        <div class="mb-32 d-md-flex flex-md-row-reverse justify-content-md-between mb-md-24">
            <div class="d-flex justify-content-between align-items-center align-items-md-start">
                <ul class="menu d-flex d-md-none">
                    <li class="mr-48"><a href="#">首頁</a></li>
                    <li class="mr-48"><a href="#">系列鏡框</a></li>
                    <li class="mr-48"><a href="#">門市據點</a></li>
                    <li class="mr-48"><a href="#">部落格</a></li>
                    <li><a href="#">常見問題</a></li>
                </ul>
                <ul class="d-flex">
                    <li class="w-48 w-lg-40 w-md-24 mr-36 mr-lg-16 mr-md-8"><a href="#"><img src="../assets/images/ic-social-fb.png" alt=""></a></li>
                    <li class="w-48 w-lg-40 w-md-24 mr-36 mr-lg-16 mr-md-8"><a href="#"><img src="../assets/images/ic_social_ig.png" alt=""></a></li>
                    <li class="w-48 w-lg-40 w-md-24"><a href="#"><img src="../assets/images/ic_social_line.png" alt=""></a></li>
                </ul>
            </div>
            <ul class="contact fs-36 mt-24 fs-md-16 mt-md-0">
                <li class="d-flex align-items-center mb-8">
                    <span class="mr-20 material-icons-outlined">call</span>
                    <a href="#">0800-000-00</a>
                </li>
                <li class="d-flex align-items-center">
                    <span class="mr-20 material-icons-outlined">email</span>
                    <a href="#">glasses@business.co</a>
                </li>
            </ul>
        </div>

        <hr class="hr mb-32 mb-md-16">

        <div class="bottom d-flex justify-content-between d-md-block">
            <p class="mb-md-8">Copyright © 2020 Glasses.All rights reserved.</p>
            <ul class="d-flex fs-14 d-md-block fs-md-16">
                <li class="mb-md-8 mr-48 mr-md-0"><a href="#">隱私權政策</a></li>
                <li><a href="#">服務條款</a></li>
            </ul>
        </div>

    </div>
</footer>