<header class="header bg-primary">
    <div class="container nav">
        <a href="#" class="w-80"><img src="../assets/images/logo-white.png" alt="logo"></a>
        <ul class="menu">
            <li><a href="#">系列鏡框</a></li>
            <li><a href="#">門市據點</a></li>
            <li><a href="#">部落格</a></li>
            <li><a href="#">常見問題</a></li>
        </ul>
    </div>
    <ul class="menu-phone">
        <li><a class="py-12 px-62" href="#">系列鏡框</a></li>
        <li><a class="py-12 px-62" href="#">門市據點</a></li>
        <li><a class="py-12 px-62" href="#">部落格</a></li>
        <li><a class="py-12 px-62" href="#">常見問題</a></li>
    </ul>
</header>