<header class="header bg-primary">
    <div class="container px-lg-36 px-md-15 d-flex justify-content-between py-16">
        <a href="./index.html" class="w-80"><img src="../assets/images/logo-white.png" alt="logo"></a>
        <ul class="d-flex align-items-center fs-20 d-md-none">
            <li class="mr-64"><a href="#">系列鏡框</a></li>
            <li class="mr-64"><a href="./store_locations.html">門市據點</a></li>
            <li class="mr-64"><a href="#">部落格</a></li>
            <li><a href="#">常見問題</a></li>
        </ul>
    </div>
    <ul class="d-none d-md-flex flex-wrap-md">
        <li class="w-p-50"><a class="text-center d-md-block py-12 a-border" href="#">系列鏡框</a></li>
        <li class="w-p-50"><a class="text-center d-md-block py-12 a-border" href="./store_locations.html">門市據點</a></li>
        <li class="w-p-50"><a class="text-center d-md-block py-12 a-border" href="#">部落格</a></li>
        <li class="w-p-50"><a class="text-center d-md-block py-12 a-border" href="#">常見問題</a></li>
    </ul>
</header>