<header class="header bg-primary">
    <div class="container d-flex justify-between py-16">
        <a href="#" class="w-80"><img src="../assets/images/logo-white.png" alt="logo"></a>
        <ul class="menu d-flex align-center">
            <li><a href="#">系列鏡框</a></li>
            <li><a href="#">門市據點</a></li>
            <li><a href="#">部落格</a></li>
            <li><a href="#">常見問題</a></li>
        </ul>
    </div>
</header>