.btn-primary {
    color: $white-color;
    background-color: $primary-color;
    border: 0;

    &:hover {
        opacity: 0.8;
        cursor: pointer;
    }
}

.btn-store-detail {
    background-color: $black-color;
    font-size: 19px;
    color: $white-color;
    padding-top: 16px;
    padding-bottom: 16px;

    &:hover {
        opacity: 0.8;
        cursor: pointer;
    }
}