.header {
  a {
    color: $white-color;
  }

  .nav {
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .menu {
    display: flex;
    align-items: center;

    a {
      font-size: 20px;
    }

    li:not(:last-child) {
      margin-right: 64px;

      @include pad-992 {
        margin-right: 32px;
      }

      @include phone-767 {
        margin-right: 16px;
      }
    }

    @include phone-767 {
      display: none;
    }
  }

  .menu-phone {
    display: none;

    @include phone-767 {
      display: flex;
      flex-wrap: wrap;

      li {
        width: 50%;
        a {
          display: block;
          text-align: center;
          border: 1px solid $white-color;
        }
      }
    }
  }

  .container {
    @include pad-992 {
      padding-left: 36px;
      padding-right: 36px;
    }
    @include phone-767 {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}
