<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- RWD viewport -->
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <!-- icon -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
  <title>index</title>
</head>

<body>
  <%- include('./layout/header'); -%>

    <div class="section1">
      <div class="container text-right py-296 py-md-144">
        <h1 class="fs-36 color-secondary fs-md-16">Promise-Desert 2020 早春系列</h1>
        <h2 class="fs-64 color-secondary fs-md-24 fw-bold mb-4 mb-md-8">看得清，才能看得遠</h2>
        <button class="btn-primary py-6 px-12 fs-20">立即購買</button>
      </div>
    </div>

    <div class="section2 bg-light">
      <div class="container py-80 py-md-40">
        <h3 class="fs-48 color-secondary fw-bold text-center fs-md-24 mb-24">用專業的心，做專業的事</h3>
        <ul class="d-flex flex-wrap justify-content-center">
          <li class="mb-lg-24 mr-24 mr-md-0 text-center">
            <img class="w-100 mb-16 px-auto" src="../assets/images/home-section2-1.png" alt="price">
            <span class="d-block fs-24 color-secondary fw-bold mb-8  text-center">單一價格</span>
            <p class="text-left">無論任何度數皆不需追加費用即可擁有適合自己的薄型球面鏡片。</p>
          </li>
          <li class="mb-lg-24 mr-24 mr-lg-0 mr-md-0 text-center">
            <img class="w-100 mb-16" src="../assets/images/home-section2-2.png" alt="price">
            <span class="d-block fs-24 color-secondary fw-bold mb-8 text-center">20 分鐘即可取件</span>
            <p class="text-left">為了您的寶貴時間著想，以豐富專業知識與技術將結帳到交件的時間縮減至最快 20 分鐘即可完成。</p>
          </li>
          <li class="mb-md-24 mr-24 mr-md-0 text-center">
            <img class="w-100 mb-16" src="../assets/images/home-section2-3.png" alt="price">
            <span class="d-block fs-24 color-secondary fw-bold mb-8  text-center">安心售後服務</span>
            <p class="text-left">我們提供長達 120 天的保固售後服務，不限會員資格皆享有免費深層保養及專業維修服務。</p>
          </li>
          <li class="text-center">
            <img class="w-100 mb-16" src="../assets/images/home-sectioin2-4.png" alt="price">
            <span class="d-block fs-24 color-secondary fw-bold mb-8 text-center">關於鏡片</span>
            <p class="text-left">使用世界知名頂級品牌，抗UV、防汙鍍膜薄型非球面鏡片。</p>
          </li>
        </ul>
      </div>
    </div>

    <div class="section3">
      <div class="container py-80 py-md-40">
        <h3 class="fs-48 color-secondary fw-bold text-center fs-md-24 mb-48 mb-md-24">經典系列鏡框</h3>
        <ul class="d-flex flex-wrap justify-content-center">
          <li class="mr-24 mr-lg-0 mb-lg-24">
            <a href="#">
              <img class="mb-8" src="../assets/images/home-section3-1.png" alt="">
              <span class="d-block fs-48 color-primary text-center fw-900 fst-italic">OPTICAL</span>
            </a>
          </li>
          <li class="mr-24 mr-lg-0 mb-lg-24">
            <a href="#">
              <img class="mb-8" src="../assets/images/home-section3-2.png" alt="">
              <span class="d-block fs-48 color-primary text-center fw-900 fst-italic">SUNGLASSES</span>
            </a>
          </li>
          <li class="mr-24 mr-lg-0">
            <a href="#">
              <img class="mb-8" src="../assets/images/home-section3-3.png" alt="">
              <span class="d-block fs-48 color-primary text-center fw-900 fst-italic">FUNCTIONAL</span>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="section4">
      <div class="container py-80 py-md-40 px-lg-36 px-md-15">
        <h3 class="fs-48 color-white fw-bold text-center fs-md-24 mb-48 mb-md-24">聯名設計鏡框</h3>
        <ul class="d-flex flex-wrap justify-content-center">
          <li class="w-p-50 mb-lg-24"><a href="#">
              <img src="../assets/images/home-section4-1.png" alt="DOUBLE A+">
              <div class="bg-white text-center py-8 border-right"><span
                  class="fs-48 color-primary fw-900 fst-italic">DOUBLE A+</span></div>
            </a></li>
          <li class="w-p-50"><a href="#">
              <img src="../assets/images/home-section4-2.png" alt="YOUTH">
              <div class="bg-white text-center py-8"><span class="fs-48 color-primary fw-900 fst-italic">YOUTH</span>
              </div>
            </a></li>
        </ul>
      </div>
    </div>

    <div class="section5">
      <div class="container py-80 py-md-40 px-lg-36 px-md-15">
        <h3 class="fs-48 color-secondary fw-bold text-center fs-md-24 mb-48 mb-md-24">顧客推薦</h3>
        <ul class="d-flex flex-wrap justify-content-center">
          <li class="card mr-24 mr-md-0 mb-lg-24 mb-md-16">
            <img src="../assets/images/home-section5-1.png" alt="customer">
            <div class="card-content p-16 d-flex flex-column justify-content-between">
              <div>
                <span class="mb-8 d-block">Jessy</span>
                <p class="">眼鏡品質優良，下次還會想來這邊購買！</p>
              </div>
              <span class="d-block color-grey fs-14">2021/06/20</span>
            </div>
          </li>
          <li class="card mr-24 mr-lg-0 mr-md-0 mb-lg-24 mb-md-16">
            <img src="../assets/images/home-section5-2.png" alt="customer">
            <div class="card-content p-16 d-flex flex-column justify-content-between">
              <div>
                <span class="mb-8 d-block">凱倫</span>
                <p class="">做工細緻、鏡架很輕盈，待久也不會覺得有負擔，推薦給大家！</p>
              </div>
              <span class="d-block color-grey fs-14">2021/06/20</span>
            </div>
          </li>
          <li class="card mr-24 mr-md-0 mb-md-16">
            <img src="../assets/images/home-section5-3.png" alt="customer">
            <div class="card-content p-16 d-flex flex-column justify-content-between">
              <div>
                <span class="mb-8 d-block">悠悠</span>
                <p class="">謝謝客服人員的詳細回答，成功買到了喜歡的眼鏡，下次會再回購！</p>
              </div>
              <span class="d-block color-grey fs-14">2021/06/20</span>
            </div>
          </li>
          <li class="card mr-24 mr-lg-0 mr-md-0">
            <img src="../assets/images/home-section5-4.png" alt="customer">
            <div class="card-content p-16 d-flex flex-column justify-content-between">
              <div>
                <span class="mb-8 d-block">Kyuan</span>
                <p class="">服務很好，品質沒有任何問題，非常喜歡。</p>
              </div>
              <span class="d-block color-grey fs-14">2021/06/20</span>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="section6 bg-light">
      <div class="container py-80 py-md-40 px-lg-36 px-md-15">
        <h3 class="fs-48 color-secondary fw-bold text-center fs-md-24 mb-48 mb-md-24">聯絡我們</h3>
        <div class="comment mx-auto">
          <p class="fs-20 mb-24">我們相當重視您的意見，若您有任何疑問，可先參考「常見問題」，若仍有任何問題，請填妥以下資料，我們會在近期與您聯繫。</p>
          <label for="name" class="d-block mb-8">姓名</label>
          <input type="text" id="name" placeholder="陳小明" class="w-p-100 py-6 px-12 mb-16">
          <label for="phone" class="d-block mb-8">聯絡電話</label>
          <input type="text" id="phone" placeholder="0912-345-678" class="w-p-100 py-6 px-12 mb-16">
          <label for="mail" class="d-block mb-8">電子郵件</label>
          <input type="text" id="mail" placeholder="example@email.com" class="w-p-100 py-6 px-12 mb-16">
          <label for="comment" class="d-block mb-8">意見反應</label>
          <textarea id="comment" name="comment" id="" rows="6" placeholder="請輸入您的意見" class="w-p-100 py-6 px-12 mb-16"></textarea>
          <div class="mb-48">
            <input id="agree" type="checkbox">
          <label for="agree">我同意隱私權政策，並同意依隱私權政策中所述的方式處理自己的資料。</label>
          </div>
          <button type="submit" id="submit" class="btn-primary py-16 d-block mx-auto">確認送出</button>
      </div>
    </div>

    <%- include('./layout/footer'); -%>

      <script type="module" src="../main.js"></script>
</body>

</html>