<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- RWD viewport -->
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <!-- icon -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
      rel="stylesheet">
  <title>index</title>
</head>

<body>
  <%- include('./layout/header'); -%>

  <div class="header-image">
    <div class="container">
      <h1 class="title-sm">Promise-Desert 2020 早春系列</h1>
      <h2 class="title-l">看得清，才能看得遠</h2>
      <button class="btn-primary py-6 px-12 text-20">立即購買</button>
    </div>
  </div>

  <%- include('./layout/footer'); -%>

      <script type="module" src="../main.js"></script>
</body>

</html>